<!-- <section class="flex flex-col gap-2 p-4" [ngClass]="{'alternative': isTrue}">
  <div class="text-3xl my-3">Raised</div>
  <div class="space-x-2">
    <button mat-raised-button (click)="changeTheme()">Change</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section> -->
<app-nav></app-nav>
